body {
	text-align: center;
	font-size: 1em;
	font-family: 'ZCOOL KuaiLe', cursive;
	color: #F652A0;
	background-color: #29FFFF;
}

p {
	font-size: 1em;
}
#intro{
	background-color:#041f60
}
#about{
	color: #f652a0;
	text-transform: lowercase;
	background-color:
	}

nav ul li{
	display: inline;
	border:2.5px solid white;
	padding: 10px 5px;
	margin:5px 10px;
}